<div class="wrapper">
	<h2>Edit personal info</h2>
	<% form_for :user do %>
		<%= image_tag @user.get_image %>
		<br/>
		<label>Name</label>
		<%= text_field :user, :name, :value => @user.name %>
		<br/>
		<label>Email</label>
		<%= text_field :user, :email, :value => @user.email%>
		<br/>
		<label>Zip code</label>
		<%= text_field :user, :location, :value => @user.location %>
		<br/>
		<label>Gender</label>
		<%= text_field :user, :gender%>
		<br/>
		<%= submit_tag "Save", :name => "save" %>
	<% end %>
</div>