<div id="user_content_wrapper">
	<div id="user_wrapper">
		<div id="avatar">
			<%= image_tag @user.get_image %>
		</div>
		<div id="info">
			<div id="one">
				<div id="name"><%= @user.name %>:<div class="area">San Francisco</div></div>
					<div id="ratings">RATE: ★★★★★ </div><div id="num-of-reviews">2760 reviews</div>
			</div>
			<div id="two">
			<div id="time">On-timeliness: ★★★★ </div><div id="accuracy">Item accuracy: ★★★★</div><div id="respons">Responsiveness: ★★★★</div>
			</div>
			<div id="description"><%= @user.about_me %></div>
			<div id="fav_category">Favorite Categories:</div>
		</div>
	</div>
	<div id="buttons">
		<% if !current_user.blank? && @user.id == current_user.id %>
			<%= link_to "Edit", edit_user_path(@user.id), :class => "red-button" %>
		<% end %>
	</div>
	<%= render :partial => "in_bazaar", :locals => {:user_items => @user_items} %>
</div>