<div class="big-title">My Bazaar</div>
<div class="item-custom-list"><a href="#">List A</a> | <a href="#">List B</a> | <a href="#">List C</a> | <a href="#">Hobby stuff</a> | <a href="#">My Electro</a></div>
<ul id="my-available-item-list">
<% @sender.products.each do |item| %>
	<% unless offer.offer_items.include?(OfferItem.find_by_product_id(item.id))%>
	<li class="item-li">
		<div class="item-image-list"><img src="<%= item.image.url(:thumb) %>" /></div>
		<div class="item-title"><%= item.title %></div>
		<div class="item-description"><%= item.description %></div>
		<div class="item-price"><%= number_to_currency(item.price) %></div>
		<div class="item-id"><%= item.id %></div>
	</li>
	<% end %>
<% end %>
</ul>
<!--
<ul id="their-available-service-list">
<% @sender.services.each do |service| %>
	<% unless offer.offer_services.include?(OfferService.find_by_service_id(service.id)) %>
		<li class="their-service-li">
			<div><%= service.name %></div>
		</li>
	<% end %>
<% end%>
</ul>
-->
<script language="javascript">
function setCurrent(type) {
	if (type == "items") {
		$("#my-available-item-list").show();
		$("#my-available-service-list").hide();
	}
	else if (type == "services") {
		$("#my-available-item-list").hide();
		$("#my-available-service-list").show();
	}
}
</script>
