<h3>Items they offer</h3>
<ul>
<% offer.offer_items.each do |offer_item| %>
	<li>
		<% @product = offer_item.product %>
		<div class="item-image-list"><img src="<%= @product.image.url(:thumb) %>" /></div>								
		<div class="item-title"><%=  @product.title %></div>
		<div class="item-description"><%= @product.description %></div>
		<div class="item-price"><%= number_to_currency(@product.price) %></div>
		<%= hidden_field_tag 'offering' + @product.id.to_s + '[price]', @product.price %>
	</li>
<% end %>
</ul>
