<script src="/javascripts/jquery/jquery.ui.widget.js"></script>
<script src="/javascripts/jquery/jquery.ui.draggable.js"></script>
<script src="/javascripts/jquery/jquery.ui.droppable.js"></script>

<div id="suggested-value-wrapper">
	<div id="their-value"></div>
	<div id="my-value"></div>
	<div id="suggested-value"></div>
</div>

<div id="offer-wrapper">
	<div id="offer-details">
			<div id="their-items">
				<div id="cash-compensate">
					<h3>Their cash offered</h3>
					<%= text_field(:offer, :cash_value, :value => number_to_currency(offer.cash_value), :size => 10, :onchange => "updateOfferCashHiddenField(this.value);") %>
					<%= hidden_field_tag 'offer_cash_value_hidden', offer.cash_value %>
				</div>
				<div id="offering-items">
					<div id="offering-items-available">
						<h3>Their available items</h3>
						<ul>
						<% offerer.products.each do |item| %>
							<% unless offer.offer_items.include?(OfferItem.find_by_product_id(item.id))%>
							<li>
								<div class="item-image-list"><img src="<%= item.image.url(:thumb) %>" /></div>
								<div class="item-title"><%= item.title %></div>
								<div class="item-price"><%= number_to_currency(item.price) %></div>
								<%= hidden_field_tag 'offering' + item.id.to_s + '[price]', item.price %>
							</li>
							<% end %>
						<% end %>
						</ul>
					</div>

					<div id="offering-items-offered">
						<h3>Items they offer</h3>
						<ul>
						<% offer.offer_items.each do |offer_item| %>
							<li>
								<% @product = offer_item.product %>
								<div class="item-image-list"><img src="<%= @product.image.url(:thumb) %>" /></div>								
								<div class="item-title"><%=  @product.title %></div>
								<div class="item-price"><%= number_to_currency(@product.price) %></div>
								<%= hidden_field_tag 'offering' + @product.id.to_s + '[price]', @product.price %>
							</li>
						<% end %>
						</ul>
					</div>
				</div>
			</div>
			
			<div id="my-items">
				<div id="cash-compensate">
					<h3>My cash offered</h3>
					<%= text_field(:offer, :cash_value, :value => number_to_currency(offer.cash_value), :size => 10, :onchange => "updateOfferCashHiddenField(this.value);") %>
					<%= hidden_field_tag 'offer_cash_value_hidden', offer.cash_value %>
				</div>
				<div id="wanted-items">
					<div id="wanted-items-offered">
							<h3>Items I offer</h3>
							<ul>
							<% offer.wanted_items.each do |wanted_item| %>
								<li>
									<% @product = wanted_item.product %>
									<div class="item-image-list"><img src="<%= @product.image.url(:thumb) %>" /></div>									
									<div class="item-title"><%=  @product.title %></div>
									<div class="item-price"><%= number_to_currency(@product.price) %></div>
									<%= hidden_field_tag 'wanted' + @product.id.to_s + '[price]', @product.price %>
								</li>
							<% end %>
							</ul>
						</div>
					<div id="wanted-items-available">
						<h3>My available items</h3>
						<ul>
						<% user.products.each do |item| %>
						<% unless offer.wanted_items.include?(WantedItem.find_by_product_id(item.id))%>
							<li>
								<div class="item-image-list"><img src="<%= item.image.url(:thumb) %>" /></div>
								<div class="item-title"><%=  item.title %></div>
								<div class="item-price"><%= number_to_currency(item.price) %></div>
								<%= hidden_field_tag 'wanted' + item.id.to_s + '[price]', item.price %>
							</li>
							<% end %>
						<% end %>
						</ul>
					</div>
				</div>
			</div>
			
	</div> <!-- end of offer-details -->
	<div id="service-trading">
		<div id="available-services">
			<h3>Their available services</h3>
			<ul>
			<% offerer.services.each do |service| %>
				<% unless offer.offer_services.include?(OfferService.find_by_service_id(service.id)) %>
					<li>
						<%= service.name %>
					</li>
				<% end %>
			<% end%>
			</ul>
		</div>
		<div id="offering-services">
			<h3>Service offered</h3>
			<ul>
			<% offer.offer_services.each do |offer_service| %>
				<li><%= offer_service.service.name %></li>
			<% end %>
			</ul>
		</div>
	</div> <!-- end of service-trading -->
</div>

<script type="text/javascript">
	crossSelect("offering-items-available", "offering-items-offered");
	crossSelect("wanted-items-available", "wanted-items-offered");
	crossSelect("offering-services", "available-services");
	
	function crossSelect(div1, div2) {
	
		$("#" + div1 + " ul li").draggable({stack: "li", revert: "invalid", helper: "clone"});
		$("#" + div2).droppable({
			drop: function(event, ui) {
				$("<li></li>").html(ui.draggable.html()).appendTo($(this).find("ul"));
				ui.draggable.remove();
				crossSelect(div1, div2);
				updateSuggestedValue();
			},
			accept: "#" + div1 + " ul li"
		});
	
		$("#" + div2 + " ul li").draggable({stack: "li", revert: "invalid", helper: "clone"});
		$("#" + div1).droppable({
			drop: function(event, ui) {
				$("<li></li>").html(ui.draggable.html()).appendTo($(this).find("ul"));
				ui.draggable.remove();
				crossSelect(div1, div2);
				updateSuggestedValue();
			},
			accept: "#" + div2 + " ul li"
		});
	}
	
	function updateSuggestedValue(div_id) {
		if (typeof div_id === "undefined") div_id = "#suggested-value";
		
		var offering_value = 0;
		$("#offering-items-offered input:hidden[name*='offering']").each(function() {
			offering_value += parseFloat(this.value);
			$("#their-value").html("$" + offering_value);
		});
		
		var wanted_value = 0;
		$("#wanted-items-offered input:hidden[name*='wanted']").each(function() {
			wanted_value += parseFloat(this.value);
			$("#my-value").html("$" + wanted_value);
		});
		
		var cash_offered = $("#offer_cash_value_hidden").val();
		var suggested_value = Math.round(wanted_value - offering_value - cash_offered).toFixed(2);
		
		var instruction = "";
		
		if (suggested_value < 0) {
			instruction = "$";
			suggested_value = (-1) * suggested_value;
			$(div_id).css("backgroundColor","royalBlue");
			$(div_id).html(instruction + suggested_value);
		}
		else if (suggested_value > 0){
			instruction = "$";
			$(div_id).css("backgroundColor","darkred");
			$(div_id).html(instruction + suggested_value);
		}
		else {
			instruction = "Fair deal! Let's trade now.";
			$(div_id).css("backgroundColor","orange");
			$(div_id).html(instruction);
		}
	}
	
	function updateOfferCashHiddenField(v) {
		$('#offer_cash_value_hidden').val(v.replace('$',''));	
		updateSuggestedValue();
	}
	
	// initial update
	updateSuggestedValue();
</script>