<%
	show_remove_icon = defined?(show_remove_icon) ? show_remove_icon : false
	show_remove_icon = true if show_remove_icon.nil?
%>
<div class="down-arrow"></div>
<ul>
<% if offer.offer_items.empty? %>
	<div id="no-item-offered" class="no-item">No item</div>
<% else %>
	<% offer.offer_items.each_with_index do |offer_item, i| %>
		<li class="my-item-list">
			<% @product = offer_item.product %>
			<div class="item-image-list"><img src="<%= @product.image.url(:thumb) %>" /></div>								
			<div class="item-title"><%=  @product.title %></div>
			<div class="item-description"><%= @product.description %></div>
			<div class="item-price"><%= number_to_currency(@product.price) %></div>
			<%= hidden_field_tag 'offering[' + @product.id.to_s + '][price]', @product.price %>
			<% if i % 3 != 0 %>
				<div class="plus-sign">+</div>
			<% end %>
			<% if defined?(show_remove_icon) && show_remove_icon %>
				<img class="close-icon" src="http://icons.iconarchive.com/icons/visualpharm/must-have/256/Remove-icon.png"/>
			<% end %>
		</li>
	<% end #end of each %>
<% end #end of if %>

</ul>

<script language="javascript">
	$(".close-icon").click(function() {
		putBack(this);
	});
</script>