<script src="/javascripts/jquery/jquery.ui.widget.js"></script>
<script src="/javascripts/jquery/jquery.ui.draggable.js"></script>
<script src="/javascripts/jquery/jquery.ui.droppable.js"></script>

<div id="suggested-value-wrapper">
	
	<div id="cash-value-wrapper">
		<!--
		<div class="cash-direction">
			<h1>Cash</h1>
			<select onchange="updateCashDirection(this.value);">
				<option value="they-pay" selected>They will pay me</option>
				<option value="i-pay">I will pay them</option>
			</select>
		</div>
		-->
		<div class="cash-compensate">
			<label>Bargain: </label>
			<%= text_field(:offer, :cash_value, :value => ((offer.cash_value > 0 )? number_to_currency(offer.cash_value) : number_to_currency(0)), :size => 10, :onchange => "updateOfferCashHiddenField(this.value);") %>
			<%= hidden_field_tag 'offer_cash_value_hidden', ((offer.cash_value > 0 )? offer.cash_value : 0) %>
		</div>
	</div>
	
	<div id="their-value"></div>
	<div id="my-value"></div>
	<div id="suggested-value-outer">
		<div id="suggested-text"></div>
		<div id="suggested-value"></div>
	</div>
	
</div>

<div id="offer-wrapper">
	<div id="offer-details">
		
			<div id="available-items">
				<div id="offering-items-available">
					<%= render "offering_items_available", :offerer => offerer, :offer => offer %>
				</div>
				<div id="dropbox">
					DROP STUFF HERE TO START TRADING
					<img src="http://icons.iconarchive.com/icons/raindropmemory/in-spirited-we-love/256/Dropbox-icon.png" />
				</div>
				<div id="wanted-items-available">
					<%= render "wanted_items_available", :offer => offer, :user => user %>
				</div>
			</div>

			<div id="offering-items">
				<div class="page-break" style="top: 54px"></div>
				
				<div id="wanted-items-offered">
					<%= render "wanted_items_offered", :offer => offer %>
				</div>
				
				<div id="offering-items-offered">
					<%= render "offering_items_offered", :offer => offer %>
				</div>
				
				<div class="page-break"></div>
			</div>
			
	</div> <!-- end of offer-details -->

</div>

<script type="text/javascript">
	makeDraggable("their-available-item-list");
	makeDraggable("my-available-item-list");
	makeDraggable("their-available-service-list");
	
	// initial update
	updateSuggestedValue();
</script>