<%
	show_remove_icon = defined?(show_remove_icon) ? show_remove_icon : false
	show_remove_icon = true if show_remove_icon.nil?
%>
<div class="down-arrow"></div>
<ul>
<% if offer.wanted_items.empty? && @cart.line_items.empty? %>
	<div id="no-item-wanted" class="no-item">No item</div>
<% else %>
	<% wanted_items = (!@cart.blank? && @cart.line_items.empty?) || @cart.blank? ? offer.wanted_items : @cart.line_items %>
	<% wanted_items.each_with_index do |wanted_item, i| %>
		<li class="their-item-list">
			<% @item = wanted_item.item %>
			<div class="item-id"><%= @item.id %></div>
			<div class="item-image-list"><img src="<%= @item.get_main_image(:thumb) %>" /></div>									
			<div class="item-title"><%=  @item.title %></div>
			<div class="item-description"><%= @item.description %></div>
			<div class="item-price"><%= number_to_currency(@item.price) %></div>
			<%= hidden_field_tag 'wanted[' + @item.id.to_s + '][price]', @item.price %>
			<% if i % 3 != 0 %>
				<div class="plus-sign">+</div>
			<% end %>
			<% if show_remove_icon %>
				<img class="close-icon" src="http://icons.iconarchive.com/icons/visualpharm/must-have/256/Remove-icon.png"/>
			<% end %>
		</li>
	<% end #end of each %>
<% end #end of if %>
</ul>

<script language="javascript">
	$("document").ready(function() {
		$(".close-icon").click(function() {
			putBack(this);
		});		
	});
</script>