<div class="down-arrow"></div>
<ul>
<% offer.wanted_items.each do |wanted_item| %>
	<li class="my-item-list">
		<% @product = wanted_item.product %>
		<div class="item-image-list"><img src="<%= @product.image.url(:thumb) %>" /></div>									
		<div class="item-title"><%=  @product.title %></div>
		<div class="item-description"><%= @product.description %></div>
		<div class="item-price"><%= number_to_currency(@product.price) %></div>
		<%= hidden_field_tag 'wanted' + @product.id.to_s + '[price]', @product.price %>
		<img class="close-icon" src="http://icons.iconarchive.com/icons/visualpharm/must-have/256/Remove-icon.png"/>
	</li>
<% end %>
</ul>

<script language="javascript">
	$(".close-icon").click(function() {
		putBack(this);
	});
</script>