<h1>Listing offers</h1>

<div class="table-scope-wrapper">
	<%= form_tag (offers_path, :action => :index, :method => :get, :remote => true) do %>
		<% @scopes.each do |s| %>
			<div class="table-scope"><%= submit_tag s %></div>
		<% end %>
	<% end %>
</div>

<table>
  <tr>
		<th></th>
    <th>Sender</th>
    <th width="20%">Offering</th>
    <th width="20%">Wants</th>
    <th widht="20%">Cash Amount</th>
		<th width="20%">Actions</th>
		<th width="20%"></th>
  </tr>
<% if @offers.blank? %>
	<tr>
		<td>Couldn't find any offer</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
<% else %>
	<% @offers.each do |offer| %>
	  <tr>
			<td><%= (offer.sender_id == current_user.id) ? "Sent" : "Received"%></td>
			<td><%= link_to offer.sender.name, user_path(offer.sender) %></td>
			<td>
				<% offer.offer_items.each do |i| %>
					<%= link_to image_tag(i.get_main_image(:thumb), :width => 30), item_path(i.item_id) unless i.blank? %>
				<% end %>
			</td>
			<td>
			<% offer.wanted_items.each do |i| %>
				<%= link_to image_tag(i.get_main_image(:thumb), :width => 30), item_path(i.item_id) unless i.blank? %>
			<% end %>
			</td>
			<td>
			  <%= number_to_currency(offer.cash_value) %>
			</td>
			<% # IF OFFER RECEIVED FROM SOMEONE ELSE %>
			<% if offer.sender_id != current_user.id %>
				<% # UNLESS ACCEPTED %>
				<% unless offer.response == 1 %>
					<td><%= link_to "Accept", 
								make_offer_path(offer.sender_id, :accept => "", :id => offer.id),
								:confirm => "Accept this offer?", 
								:method => :put %></td>
				<% else %>
					<td><%= content_tag :label, "Accepted", :class => "unclickable"%></td>
				<% end %>
				<td><%= link_to "Counter Offer", counter_offer_path(offer, :name => "counter_offer") %></td>
			<% else # ELSE IF OFFER SENT BY ME %>
				<% unless offer.response == 1 %>
					<td>Response pending</td>
				<% else %>
					<% # WILL NEED TO REPLACE THIS WITH SCHEDULING SYSTEM OR WHATEVER WE COME  UP WITH FOR COMMUNCATION %>
					<td>Accepted! <br/> Contact: <%= link_to offer.sender.email, "mailto:" + offer.sender.email %> to pick up and pay / trade</td>
				<% end %>
			<% end %>
	  </tr>
	<% end %>
<% end %>
</table>

<br />

<%= link_to 'New Offer', new_offer_path %>
