<%= javascript_include_tag "/javascripts/masonry.min.js" %>
<div id="front_page_wrapper">
	<div class="sub_title">Most recent faves</div>
	<div id="product-container">
  	<% @items.each do |item| %>
    	<% if (!current_user.blank? && !item.belongs_to?(current_user)) || (current_user.blank?) %>
    	  <div class="product">
    	    <div class="button-group">
    	      <!--
        	  <div class="product-like button">Like</div>
      	    <div class="product-offer button" value="<%= item.id %>">Offer</div>
      	    <div class="product-basket button">Basket</div>
      	    <div class="product-wishlist button">Wish</div>
      	    -->
    	    </div>
    	    <%= link_to image_tag(item.get_main_image(:medium)), modal_view_path(item), :class => "modal-item-link" %>
    			<div class="product-label"><%= link_to item.title, item_path(item) %></div>
    			<div class="product-actions">
    			  <div class="like"><a href="#">Like</a></div>
    			  <!--
    			  <div class="comment"><a href="#">Comment</a></div>
    			  -->
    			</div>
    			<div class="product-desc"><%= truncate(item.description, :length => 280) %></div>
    			<!--
    			<%
    				WantedItem.find_all_by_item_id(item.id).each do |wanted_item|
    					offer = Offer.find(wanted_item.offer_id)
    					sender = User.find(offer.sender_id)
    					offer_item_count = OfferItem.find_all_by_offer_id(offer.id).count
    			%>
    			<div class="offer_history"><%= sender.get_link_to_user_page + ": " + offer_item_count.to_s + (offer_item_count > 1 ? " items" : " item") + " and " + number_to_currency(offer.cash_value) %></div>
    			<% end %>
  			  -->
    	  </div>
  	  <% end %>
  	<% end %>
  </div>
	<div style="clear:both"></div>
</div>

<script type="text/javascript">
  window.onload = function() {
    var wall = new Masonry( document.getElementById('product-container'), {
      columnWidth: 218
    });
  };

	$(document).ready(function() {
	  $(".modal-item-link").click(function(e) {
	    e.preventDefault();
	    $("#body_wrapper").css({
	      "position":"fixed",
	      "width":"100%",
	    });
	    $(this).modal();
	    $(document).on($.modal.BEFORE_CLOSE, function(event, modal) {
        $("#body_wrapper").css("position", "");
      });
	  });
	  
	  $(".product-like").click(function() {
      console.log("registering like");
	  });
	  
	  $(".product-offer").click(function() {
	    window.location = "/cart/direct_checkout/" + $(this).attr("value");
	  });
    
	  // hides like
	  $(".button-group").css({opacity: 0});
		// hides prices
		$(".product-actions").css({opacity: 0});

		$(".product").hover(function() {
			$(this).find(".product-actions").animate({opacity: 0.7}, 100);
  		$(this).find(".button-group").animate({opacity: 1}, 100);
		}).mouseleave(function() {
			$(this).find(".product-actions").animate({opacity: 0}, 100);
			$(this).find(".button-group").animate({opacity: 0}, 100);
		});
		
	});

</script>