<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "BARZiT" %></title>
    <%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "/javascripts/jquery.js" %>
		<%= javascript_include_tag "/javascripts/application.js" %>
		<script src="/javascripts/jquery/jquery.modal.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="/stylesheets/jquery.modal.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/stylesheets/modals/item_modal.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css" media="screen"/>
		
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
    <script>
      $.modal.defaults = {
        overlay: "#000",        // Overlay color
        opacity: 0.55,          // Overlay opacity
        zIndex: 1000,              // Overlay z-index.
        escapeClose: true,      // Allows the user to close the modal by pressing `ESC`
        clickClose: true,       // Allows the user to close the modal by clicking the overlay
        closeText: 'Close',     // Text content for the close <a> tag.
        showClose: true,        // Shows a (X) icon/link in the top-right corner
        modalClass: "modal",    // CSS class added to the element being displayed in the modal.
        spinnerHtml: null,      // HTML appended to the default spinner during AJAX requests.
        showSpinner: true       // Enable/disable the default spinner during AJAX requests.
      };
    </script>
  </head>
  <body>
    <div id="body_wrapper">
      
      <div id="header">
  			<%= render :partial => "/layouts/menu_links_1" %>
  			<%= render :partial => "/layouts/menu_links_2" %>
  		</div>
      <div id="container">
  	      <link href="/stylesheets/active_admin.css?1334730858" media="all" rel="stylesheet" type="text/css">
  				<link href="/stylesheets/admin.css?1334207530" media="screen" rel="stylesheet" type="text/css">
			
  				<link rel="stylesheet" href="/stylesheets/menu-style.css" type="text/css" media="screen, projection"/>
  				<script type="text/javascript" language="javascript" src="/javascripts/jquery/jquery.dropdown.js"></script>
  			<div id="content_wrapper">
  	      <% flash.each do |name, msg| %>
  	        <%= content_tag :div, msg, :id => "flash_#{name}" %>
  	      <% end %>
  	      <%= content_tag :h2, yield(:title) if show_title? %>
  	      <%= yield %>
  			</div>
      </div>
    
    </div>
  </body>
</html>
